.home__container {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  max-width: 1200px;
  width: 90%;
}

.left__panel {
  margin: 5em 0.1em;
}

.right__panel {
  margin: 5em 0.5em;
  width: 100%;
}

.home__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home__buttons > a {
  text-decoration: none;
}

.home__buttonsNav {
  width: 100px;
  margin-bottom: 20px;
}

.home__avatar {
  max-height: 190px;
  margin-top: 2px;
}

@media (max-width: 650px) {
  .home__avatar {
    height: 150px;
  }
}

@media (max-width: 410px) {
  .home__avatar {
    height: 120px;
  }
}

.home__text {
  font-family: itc-avant-garde-gothic-pro;
  font-weight: 500;
  font-style: normal;
}
